<%# banner %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1493671441230-098b0a435b30?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2231&q=80);">
  <div class="container">
    <h1><strong>Find your next destinations</strong></h1>
    <p>Sharing meaningful experiences and creating lasting memories.</p>
    <%# search %>
    <%= render 'components/search' %>
  </div>
</div>
