<div class="cards-container">
  <% @accommodations.each do |accommodation| %>
    <div class="card-trip">
      <div>
        <%= cl_image_tag accommodation.photos[0].key, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="card-trip-infos">
        <div>
          <h2><%= accommodation.title %></h2>
          <p><%= accommodation.address %></p>
        </div>
        <div class="price">
          <span><%= rand(50..150) %></span><h2>$</h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
