.main-photo {
  width: 1000px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.main-photo img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.secondary-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.secondary-photo {
  flex-basis: 40%;
}

.secondary-photo img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

@media screen and (max-width: 1024px) {
  .photos-accommodation-index {
    flex-direction: column;
  }

  .main-photo,
  .secondary-photo {
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}

.pp-details {
  margin-left: 2%;
  color: black;
}

@media screen and (min-width: 1024px) {
  .photos-accommodation-index {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .main-photo {
    max-width: 800px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .main-photo img {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }

  .secondary-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-basis: 25.5%;
  }

  .secondary-photo {
    flex-basis: 100%;
    border-radius: 30px;
  }

  .secondary-photo img {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
}


.reco-block {
  margin-top: 10%;
  margin-left: 7%;
}

.separator {
  border-top: 1px solid #e3e3e3;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 10%;
}

.container {
  margin-left: 60px;
  margin-right: 60px;
}

.pp-details h6 {
font-weight: bolder;
margin-left: 5%;
}

.pp-details p {
  color: rgb(59, 59, 59);
  font-weight: lighter;
  margin-right: 10%;
}

.acc-desc {
  margin-left: 5%;

}

.container h4, .container h3{
  font-weight: bolder;
  color: black;
}

.avatar-pp {
  border-radius: 50%;
  margin-bottom: 0%;
}

.user-bio {
  display: flex;
  align-items: center;
  margin-top: 3%;
}

.avatar-pp {
  margin-right: 19px;
  vertical-align: top;
}

.acc-desc h6 {
  margin-left: 0px;
  margin-bottom: 30px;
}
