<%= render 'components/navbar' %>




<div class="search_lp">
    <h5><strong>Find your next destinations</strong></h5>
    <%# search %>
    <%= render 'components/search' %>
</div>

<div class="container">
  <div class="container-all-accommodations">
    <h4>All Accommodations</h4>
    <p>Discover all our accommodations <em>from Paris to Tokyo.</em></p>
    <%= render 'components/card' %>
  </div>
</div>
<%= render 'components/footer' %>
