<div class="wrapper">
  <div class="navbar-lp">
    <%= render 'components/navbar' %>
  </div>




  <div class="search_lp">
      <h5><strong>Find your next destinations</strong></h5>
      <%# search %>
      <%= render 'components/search' %>
  </div>
  <div class="banner-lp-img">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1520681902979-0784b03b638a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1764&q=80);">
      <div class="container">
        <div class="banner-lp">
          <h1><strong>Sucasa</strong></h1>
          <p>Your dream getaway awaits on our unique home-sharing platform.</p>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="container-all-accommodations">
      <h4>All Accommodations</h4> <p>Discover all our accommodations<em>from Paris to Tokyo.</em></p>
      <%= render 'components/card' %>
    </div>
  </div>

  <%= render 'components/footer' %>
</div>
