<h1>Your Accommodations</h1>
<div class="container">
  <% @accommodations.each do |accommodation| %>
  <div class="card">
    <h3><%= accommodation.title %></h3>
    <p><%= accommodation.address %></p>
    <%= link_to "See more", accommodation_path(accommodation) %>
  </div>
  <% end %>
</div>
