.banner {
  background-size: cover;
  background-position: center;
  height: 60vh;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.banner-lp h1 {
  font-size: 80px;
}

.banner-lp-img .banner {
  height: 40vh;
  padding: 150px 0;
  border-radius: 20px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 10px;
}

.banner-hp {
  margin-right: 40px;
  margin-left: 70px;
}
.banner-hp .banner {
  border-radius: 40px;
  height: 40vh;

}
