<h1>Your Accomodations</h1>
<div class="container">
  <% @accomodations.each do |accomodation| %>
  <div class="card">
    <h3><%= accomodation.title %></h3>
    <p><%= accomodation.address %></p>
    <%= link_to "See more", accomodation_path(accomodation) %>
  </div>
  <% end %>
</div>
